<div class="up-bar-header">
  <div class="enblem">
    <%= image_tag "golden.png", class:"logo-icon"%>
  </div>
  <div class="team-name">
    <li>ex.ABC</li>
  </div>
  <div class="login-button">
    <li><%= link_to "LOGIN", "#", class: "login" %></li>
    <li><%= link_to "SIGN UP", "#", class: "sign-up" %></li>
  </div>
</div>