<div class="second-up-bar">
  <div class="second-up-bar-header">
    <div class="second-enblem">
      <%= image_tag "golden.png", class:"second-logo-icon"%>
    </div>
    <div class="second-team-name">
      <li>ex.ABC</li>
    </div>
  </div>
</div>