<%= render "devise/shared/second_header" %>
  
<div>


  <div class="under_bar">
    <div class="under-bar-header">
      <div class="contact-info">
        管理者用出品ページ
      </div>
    </div>
  </div>

</div>