.items-sell-main {
  display: flex;
  justify-content: center;
}

.item-wrap {
  background-color: darkred;
  background-image: repeating-linear-gradient(45deg,rgb(248, 9, 9), 10px, transparent 100px);
  width: 50%;
  border: 3px solid black;
}

.items-sell-title {
  text-align: center;
}

.item-registration {
  text-align: center;
}

.img-upload {
  margin: 30px;
}

.new-items {
  margin: 30px;
}

.sell-price {
  margin: 30px;
}

.sell-btn {
  cursor: pointer;
}